<template name="newRecipe">
<div class="container">
	<lable>Recipe Name: <input type="text" id="enRecipeName"></lable>
	<lable>Khmer Name: <input type="text" id="khRecipeName"></lable>
	
	<lable>Serve: <input type="number" id="numOfServe"></lable>
	<lable>Ready In: <input type="time" id="readyTime"></lable>
	
	<input type="file">
	<br>

	{{#with newRecipe}}
		{{#each ingredients}}
			<div class="listDiv" id="item{{id}}">
			<p>{{name}} : {{amount}}{{unit}}
			</p>
			<button id="deleteItem">x</button>
			<button id="editItem">edit</button>
			</div>
			<div class="inputDiv" id="edit{{id}}" style="display: none;">
				<input type="text" class="editInput" id="editedName" value="{{name}}">
				<input type="number" class="editInput" id="editedAmount" value="{{amount}}">
				<input type="text" class="editInput" id="editedUnit" value="{{unit}}">
				<button id="cancelEditBtn">Cancel</button>
				<button id="doneEditBtn">Done</button>
			</div>
			
		{{/each}}
		
		<br>

		<input type="text" id="ingredientName" class="ingredientsInputs" placeholder="ingredient name"> <input type="number" id="ingredientAmount" class="ingredientsInputs" placeholder="Amount">
		<input type="text" id="ingredientUnit" class="ingredientsInputs" placeholder="Unit">
		<button id="newIngredient">Add to ingredients</button>
		
		<br>
		
		{{#each directions}}
			<p>{{this.text}}</p>
		{{/each}}
		
		<br>
		<input type="text" id="direction" placeholder="Direction">
		<button id="newDirection">Add to directions</button>	
	{{/with}}
</div>
</template>