<template name="newRecipe">

<div class="container">
	<div class="row">
		<div class="input-field col s6 m6">
		    <input id="enRecipeName" type="text" class="validate">
		    <label for="enRecipeName">Recipe Name</label>
		</div>
		<div class="input-field col s12 m6">
		    <input id="khRecipeName" type="text" class="validate">
		    <label for="khRecipeName">Khmer Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m6">
		    <input id="numOfServe" type="number" class="validate">
		    <label for="numOfServe">Serve</label>
		</div>
		<div class="input-field col s12 m6">
		    <input id="readyTime" type="text" class="validate">
		    <label for="readyTime">Ready In</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 m12">
		    <input id="imgLink" type="url" class="validate">
		    <label for="imgLink">Image URL</label>
		</div>
		
	</div>

	
	<br>
	{{#with newRecipe}}
		<div class="row">
			<div class="row col m6">
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Ingredients</h5>
					</li>
					{{#each ingredients}}
						{{#if editing}}
							{{> ingredientInputsTpl}}
						{{else}}
							{{> ingredientListsTpl}}
						{{/if}}
					{{/each}}
				</ul>

			</div>

			<div class="row col m6">
				<div class="input-field col m7 s12">
					{{> inputAutocomplete settings=settings id="ingredientName" class="ingredientsInputs" placeholder="Ingredients Inputs"}}
				</div>
				<div class="input-field col m3 s12">
					<input type="number" id="ingredientAmount" class="ingredientsInputs" min="0.01" placeholder="Amount">
				</div>
				<div class="input-field col m2 s12">
					<input type="text" id="ingredientUnit" class="ingredientsInputs" placeholder="Unit">
				</div>
				<div class="col m12 s12">
					<button id="newIngredientBtn" class="waves-effect waves-light cyan darken-4 btn">Add to Ingredients</button>
			</div >		
		</div>
		</div>

		<br>
		<div class="row">
			<div class="row col m6">
				<ul class="collection with-header">
					<li class="collection-header">
						<h5>Directions</h5>
					</li>		
					{{#each directions}}
						{{#if editing}}
							{{> directionInputsTpl}}
						{{else}}
							{{> directionListTpl}}	
						{{/if}}
					{{/each}}			
				</ul>
			</div>

			<div class="row col m6">
				<div class="col m12 s12 input-field">
					<input type="text" id="newDirectionInput" placeholder="Direction">
				</div>
				<div class="col m12 s12">
					<button id="newDirectionBtn" class="waves-effect waves-light cyan darken-4 btn">Add to Directions</button>
				</div >	
			</div>
		</div>
		
		<br>
	{{/with}}

	<button class="waves-effect waves-light cyan darken-4 btn" id="saveRecipeBtn">Save</button>
	<button class="waves-effect waves-light cyan darken-4 btn" id="saveDraftRecipeBtn">Save Draft</button>
</div>
</template>

<template name="ingredientListsTpl">
	<li class="collection-item">
		<span>{{amount}}{{unit}} of {{name}}</span>
		
		<a id="deleteIngredientBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">delete</i></a>

		<a id="editIngredientBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">mode_edit</i></a>

	</li>
</template>

<template name="ingredientInputsTpl">
<li class="collection-item">
	<div class="ingredientEditDiv">
		<div class="row">
			<div class="col m5">
				<label for="editingIngreName">Ingredient Name</label>
			<input type="text" id="editingIngreName" value="{{name}}">
			</div>
			<div class="col m2">
				<label for="editingIngreAmount">Amount</label>
				<input type="number" id="editingIngreAmount" value="{{amount}}">
			</div>
			<div class="col m2">
				<label for="editingIngreUnit">Unit</label>
				<input type="text" id="editingIngreUnit" value="{{unit}}">
			</div>
			<div class="col m3">
				<a id="cancelIngreBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">clear</i></a>

				<a id="updateIngreBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">done</i></a>
			</div>
		</div>
	</div>
</li>
</template>

<template name="directionListTpl">
<li class="collection-item">
		<span>{{text}}</span>
		
		<a id="deleteDirectionBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">delete</i></a>

		<a id="editDirectionBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">mode_edit</i></a>	
</li>
</template>

<template name="directionInputsTpl">
<li class="collection-item">
	<div class="row">
		<div class="col m9">
			<label for="editedDirection">Direction</label>
			<input type="text" id="editedDirection" value="{{text}}">
			
		</div>
		
		<div class="col m3">
			<a id="dirCancelBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">clear</i></a>

			<a id="dirUpdateBtn" class="secondary-content modify-icon"><i class="material-icons cyan-text text-darken-4">done</i></a>
		</div>
	</div>
</li>
	
</template>

<template name="autoComplete">
	<span>{{name}} <span class="badge" style="color: white">({{unit}})</span></span>
</template>