<!-- <template name="orderList">
	
		<a class="btn btn-sm" id="">Create New Order</a>
		{{> orderDay}}
		
	    {{#each orders}}
	    	<ul class="collapsible" data-collapsible="accordion">
		    {{#each orderedRecipes}}
				{{> recipeContent}}
		    {{/each}}
		    </ul>
		     
		    <ul class="collection">
			{{#each orderedItems}}	
				<li class="collection-item"><a class="btn btn-sm" id="orderDelIngre">x</a>	<span class="badge new" data-badge-caption="free">${{totalCost}}</span> {{name}}: {{amount}}{{unit}}</li>
			{{/each}}
			</ul>
			
			<p>Total Cost: {{totalOrderCost}}</p>
			<button id="orderBtn">Order</button>
	    {{/each}}
	   
	
</template>
 -->
<!-- <template name="recipeContent">
	<li>
      <div class="collapsible-header"><i class="material-icons">place</i><button id="delRecipeOrderBtn">x</button>{{recipeName}}</div>
      <div class="collapsible-body"><span>

      	<ul class="collection">      	
      	{{#each items}}
			<li class="collection-item">{{name}}: {{unitFilter amount unit}}   |   <span style="float: right;">${{cost}}/{{unit}} x {{amount}} = ${{totalCost}}</span>
			</li>
      	{{/each}}
      	</ul>

      </span>
      <p style="color: white;">Serve: {{serve}}</p>
      <p style="color:white;">Total Cost: ${{totalRecipeCost}}</p></div>
    </li>
</template>

<template name="orderDay">
	<input type="date" class="datepicker">
</template> -->