<template name="order">
	{{> navbar}}
	
	{{#if currentUser}}
		<div class="row">
			<div class="col l6">
				{{> itemList}}
	       		
	       </div>
	       <div class="col l6">
				{{> cart}}
	       		
	       </div>
		</div>
	{{else}}
		<div class="row">
			<div class="container">
				<h1 class="center">Welcome</h1>
			</div>
		</div>
	{{/if}}

</template>


<template name="itemList">
	<ul class="collection z-depth-1" id="itemList">
	       			<li class="collection-item">
	       			<div class="row zero-margin">
	       				<div class="col l8 zero-padding">
	       					<input type="text" placeholder="Search Items" id="searchItemInput">
	       				</div>
	       			</div>
			      		
			      	</li>
			      	{{#each items}}
			      <li class="collection-item" style="line-height: 36px;">
			      <div class="row zero-margin">
			      	<div class="col l4">{{name}}</div>
			      	<div class="col l3"><span class="green-text">P{{cost}}</span> / {{unit}}</div>
			      	<div class="col l2 zero-padding">
			      		<input type="number" id="orderAmountInput" style="margin-bottom: 0; height: 36px; line-height: 36px; display: none;">
			      	</div>
			      	<div class="col l2 zero-padding">
			      		<span  class="totalSpan" id="totalCost"></span>
			      	</div>
			      	<div class="col l1">
			      		<a id="addToCart" href="" class="btn btn-floating"><i class="material-icons">shopping_cart</i></a>
			      	</div>
			      </div>
			      	
			      </li>
			      {{/each}}
			    
			    </ul>
</template>